@import 'src/assets/styles/themes.scss';

.habits-list {
  &__container {
    overflow-y: auto;
    @include page-container;
    padding-top: 1px;
    padding-right: 1px;
    display: flex;
    flex-direction: column;
  }

  &__habit {
    overflow: hidden;
    display: inline-block;
  }
}
