@import 'src/assets/styles/themes.scss';

:host {
  @include main-page;
}

.progress {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__selector {
    @include page-container;
    border-radius: $br-sm $br-sm 0 0;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__calendar {
    @include page-container;
    display: block;
    padding: 12px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid $color-border;
    border-radius: 0 0 $br-sm $br-sm;
    border-top: 0;
  }

  &__habits {
    display: block;
    overflow-y: auto;
  }
}
