<div class="progress__container">
  <habi-month-selector
    class="progress__selector"
    [activeMonth]="isoMonth$ | async"
    (changeMonth)="onChangeMonth($event)"
  ></habi-month-selector>
  <habi-progress-calendar
    class="progress__calendar"
    [calendar]="monthView"
    [records]="records$ | async"
    [selectedDay]="selectedDay"
    (selectDay)="selectDay($event)"
  ></habi-progress-calendar>
  <habi-habits-list
    class="progress__habits"
    *ngIf="selectedDate"
    [selectedDate]="selectedDate"
  ></habi-habits-list>
</div>
