$color-date-button-bg: rgb(248, 249, 252);
$color-date-button-text: #999;

$color-highlight: rgb(237, 70, 85);
$color-border: rgb(230, 230, 230);

$color-item-completed-bg: rgb(247, 248, 252);
$color-white: #ffffff;
$color-grey: #dddddd;

$color-heading: #383838;
$color-subheading: #5a5a5a;

$color-light-text: #cccccc;
$color-med-text: #aaaaaa;
$color-form-input-background: #fafafa;
