<div class="create-habit-modal__container">
  <form
    [formGroup]="form.formGroup"
    class="create-habit-modal__form"
    (ngSubmit)="createTemplate()"
  >
    <ngx-form-input [formInputField]="form.fields[0]"></ngx-form-input>
    <habi-form-input-color-select [formInputField]="form.fields[1]">
    </habi-form-input-color-select>
    <habi-form-input-emoji
      [formInputField]="form.fields[2]"
    ></habi-form-input-emoji>
    <button class="u-cta-button create-habit-modal__save">Create habit</button>
  </form>
</div>
