<div class="progress-calendar__container">
  <!-- <div class="progress-calendar__weekdays">
    <div class="progress-calendar__weekday" *ngFor="let day of weekdays">
      {{ day }}
    </div>
  </div> -->

  <div class="progress-calendar__calendar">
    <button
      class="progress-calendar__day"
      *ngFor="let item of formattedMonthItems"
      (click)="onSelectDay(item)"
    >
      <div
        class="progress-calendar__inner"
        [class.is-selected]="item?.date.day === selectedDay"
      >
        <p class="progress-calendar__day-text">
          {{ item?.date.day }}
        </p>
        <p class="progress-calendar__day-count" *ngIf="item?.count">
          {{ item?.count }}
        </p>
      </div>
    </button>
  </div>
</div>
