@import 'src/assets/styles/themes.scss';

.progress-calendar {
  &__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 0 0 $br-sm $br-sm;
  }

  &__day {
    text-align: center;
    height: 50px;
    color: $color-date-button-text;
    position: relative;
  }

  &__selected {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-highlight;
    border-radius: $br-max;
    height: 8px;
    width: 8px;
  }

  &__bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--bubbleSize));
    transform-origin: center;
    transition: 250ms ease-out;
    height: 50px;
    width: 50px;
    background-color: rgba($color-highlight, 0.1);
    border-radius: $br-max;
    animation: bubble-in 500ms forwards ease-out;
  }
}

@keyframes bubble-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
