<div class="progress-calendar__container">
  <div class="progress-calendar__calendar">
    <button
      class="progress-calendar__day"
      *ngFor="let item of formattedMonthItems; trackBy: trackByFn"
      (click)="onSelectDay(item)"
    >
      <div
        class="progress-calendar__bubble"
        style="--bubbleSize: {{ getBubbleSize(item) }}"
      ></div>
      <p class="progress-calendar__day-text">
        {{ item?.date.day }}
      </p>
      <div
        class="progress-calendar__selected"
        *ngIf="item?.date.day === selectedDay"
      ></div>
    </button>
  </div>
</div>
