@import 'src/assets/styles/themes.scss';

.month-selector {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16;
    background-color: $color-highlight;
    color: $color-white;
  }

  &__button {
    color: rgba($color-white, 0.8);
  }
}
