@import 'src/assets/styles/themes.scss';

.month-selector {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px $spacing-16;
    color: $color-subheading;
  }

  &__month {
    color: $color-heading;
    font-weight: 500;
  }

  &__button {
    color: $color-highlight;

    i-feather {
      @include icon(20px);
    }
  }
}
