@import 'src/assets/styles/themes.scss';

.authenticated-view {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    display: block;
  }

  &__scroll-view {
    overflow-y: hidden;
  }

  &__nav {
    display: block;
    margin-top: auto;
  }
}
