@import 'src/assets/styles/themes.scss';

.home {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__date-selector {
    @include page-container;
    margin-bottom: $spacing-20;
    display: block;
  }

  &__habit {
    display: block;

    & + & {
      margin-top: $spacing-12;
    }
  }

  &__habits-list {
    overflow-y: auto;
    @include page-container;
    padding-top: 1px;
  }
}
