@import 'src/assets/styles/themes.scss';

:host {
  @include main-page;
}

.home {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__date-selector {
    @include page-container;
    margin-bottom: $spacing-20;
    display: block;
  }

  &__habits {
    display: block;
    overflow-y: auto;
  }
}
