<div class="home__container">
  <habi-date-selector
    class="home__date-selector"
    (selectDate)="onSelectDate($event)"
  ></habi-date-selector>
  <div class="home__habits-list">
    <habi-daily-habit
      class="home__habit"
      *ngFor="let habit of habits$ | async"
      [title]="habit.template.title"
      [isCompleted]="true"
      (toggleCompleted)="onToggleIncompleted(habit.id, habit.completedOn)"
    ></habi-daily-habit>
    <habi-daily-habit
      class="home__habit"
      *ngFor="let habit of incompleteHabit$ | async"
      [title]="habit.title"
      (toggleCompleted)="onToggleCompleted(habit.id)"
      [isCompleted]="false"
    ></habi-daily-habit>
  </div>
</div>
