<div class="modal-header__container">
  <h1 class="modal-header__title">
    <ng-content></ng-content>
  </h1>
  <div class="modal-header__buttons">
    <button class="modal-header__back" (click)="closeModal()">
      <i-feather name="chevron-left"></i-feather>
    </button>
    <button
      class="modal-header__action"
      *ngIf="action"
      (click)="action.action()"
    >
      <ng-container *ngIf="action.label; else icon">
        {{ action.label }}
      </ng-container>
      <ng-template #icon>
        <i-feather class="modal-header__icon" [name]="action.icon"></i-feather>
      </ng-template>
    </button>
  </div>
</div>
