@import 'src/assets/styles/themes.scss';

.modal-header {
  &__container {
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__back {
    color: $color-subheading;
  }

  &__action {
    color: $color-subheading;
  }

  &__title {
    flex: 1 1 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: $color-heading;
  }

  &__icon {
    color: $color-highlight;
    line-height: 1;
    @include icon(28px);
  }
}
