@import 'src/assets/styles/themes.scss';
@import 'src/assets/styles/classes/overrides';
@import 'src/assets/styles/classes/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: auto;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

button,
a {
  @include button-reset;

  &:focus {
    outline: none;
  }
}

i-feather {
  display: block !important;
}

:root {
  --color-form-input-border: #{lighten($color-highlight, 30%)};
}
